### Strings are sequence of Characters
### strings are a sequence of Unicode Characters

#### Creating Stings
- Quotes used :- either single ('  ') or double("  ")

In [ ]:
s = 'hello'
s = "hello"


# multiline strings:-  string that spans across multiple lines by using triple quotes


s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

#### Length function of string:- To find how many characters a string has.

In [ ]:
string = "hello everyone i am Rishi"
print(string)
print(len(string))          # Length of string - 25

hello everyone i am Rishi
25

#### Indexing:- har character ka position number assign karna
- from left end of string starts from 0 and end till len(string)-1
- from right end of string starts with -1 to len(string) from right side


##### Types of indexing
- Positive Indexing :- Left to Right
- Negative Indexing :- Right to Left

In [ ]:
char = "Rishabh Joshi"
print(char)
print(char[2])              # Positive Indexing
print(char[-1])             # Negative Indexing

Rishabh Joshi
s
i

##### Substring:- just a part of a string
- syntax for accesssing sub-string:- text[start:end]
- Method of getting substring called slicing 
##### types of slicing:- 
- Positive
- Negative



##### syntax of Slicing with Jump (Step):
- string[start:end:step]

In [11]:
# Positive Slicing
s = 'hello I am Rishi and I am learning data science'
print(s[0:5])             # hello
print(s[0:5:2])          # hlo
print(s[0:12:1])          # hello

# negative Slicing

print(s[-1:-15:-1])         
print(s[15:1:-2])         


# reversing string
print(s[::-1])            # ecnediseat gninrael ma I hsiriR

hello
hlo
hello I am R
ecneics atad g
isRm  l
ecneics atad gninrael ma I dna ihsiR ma I olleh

##### String Concatenation:- Joining two or more strings using + operator
##### Repetition:- Repeating a string multiple times using * operator

In [ ]:
name = "Rishah Joshi"
additonal_name = "Rishi"
full_name = name + " " + additonal_name         # string get concatenated
print(full_name)          # Rishah Joshi Rishi


print("Risni " * 3)             # Repetition of string

Rishah Joshi Rishi
Risni Risni Risni

##### Deleting in Strings :- It is not possible as strings are immutable data type in python

## Operations & Operators on Strings

- Arithmetic Operators:- Only two arithmetic operators works in string these are "+" for concatenation and '*" for repetition
- Relational Operators:- used to compare two values and return a boolean result (True or False). Python compare them into alpabetical(lexicographical) order using ASCII values  
- Logical Operators:- combine two or more conditions (which return True or False). AND, OR and NOT 
- Membership Operations:- check whether a value exists in a sequence

##### Arithmetic Operator

In [ ]:
print('delhi' + ' ' + 'mumbai')  # string get concatenated

delhi mumbai

In [ ]:
print('delhi'*5)            # repeating the vlaue 5 times

delhidelhidelhidelhidelhi

##### Relational Operators
- returns boolean value

In [ ]:
'delhi' != 'delhi'      # != implies not equal to

False

In [ ]:
'mumbai' > 'pune'           # comparing on the bassis of ascii value

False

In [ ]:
'Pune' > 'pune'             # in python capital letters are less than small letters

False

##### Logical Operator

In [7]:
# important operator
# empty string has boolean value of false and non empty string has boolean value of true

print('hello' and 'world')         # true and true gives true => 'world'
print('hello' or 'world')          # true or true gives true => 'hello'
print('hello' and '')             # true and false gives false => ''
print('' and 'hello')             # false and true gives false   => ''
print('hello' or '')              # true or false gives true  => 'hello'
print('' or 'hello')              # false or true gives true => 'hello'
print('' and '')                 # false and false gives false => ''
print(not 'hello')               # not true gives false => False
print(not '')                   # not false gives true => True

world
hello


hello
hello

False
True

#### Capitalize/Title/Upper/Lower/Swapcase:- These function do not take any argument in it. Gives a new string
Function	        Effect on "hElLo WoRLd"

- capitalize()	            'Hello world'
- title()	                'Hello World'
- upper()	                'HELLO WORLD'
- lower()	                'hello world'
- swapcase()	            'HeLlO wOrlD'

In [13]:
s = 'hello world'
print(s.capitalize())
print(s)

Hello world
hello world

In [14]:
s.title()

'Hello World'

In [15]:
s.upper()

'HELLO WORLD'

In [16]:
'Hello Wolrd'.lower()

'hello wolrd'

In [17]:
'HeLlO WorLD'.swapcase()

'hElLo wORld'

#### Count/Find/Index:- all need a argument to execute
- Count- how many times a substring appears in the string.
- Find - Returns the index (position) of the first occurrence of a substring
- Index - Similar to find but raises an error if the substring is not found

In [ ]:
# counts

'my name is rishi'.count('i')


# returns -1 if not found
'my name is rishi'.find('x')


# through an error if value not find
'my name is rishi'.index('i')
'my name is rishi'.index('x')  # error

3

#### endswith:- Check if string ends with something
#### startswith:-  Check if string starts with something


##### returns boolean value

In [2]:
print('my name is nitish'.endswith('sho'))

print("my name is nitish".startswith('1my'))

False
False

##### format:-  function lets you insert variables or values into a string. It’s a clean and flexible way to create dynamic strings.

In [ ]:
# Case- 1
name = 'nitish'
gender = 'male'

print('Hi my name is {1} and I am a {0}'.format(gender,name))

# Case - 2
name = "Rishi"
gender = "male"
print(f"My name is {name} and I am a {gender}")

Hi my name is nitish and I am a male
My name is Rishi and I am a male

##### isalnum:- Checks if only letters (a–z, A–Z) and numbers (0–9) are in the string. No spaces or special chars allowed.
##### isalpha:- Checks if the string has only letters (no numbers, no symbols, no spaces)
##### isdigit:- Checks if the string has only numeric digits (0–9)
##### isidentifier:- Checks if the string can be used as a Python variable name.

In [9]:
# isalnum
print('rishi123'.isalnum())            # returns always boolean value
print("rishi_joshi".isalpha())
print("123".isdigit())
print("rishi".isidentifier())

True
False
True
True

##### Split:-  splits a string into a list using a separator (default: space)
##### Join:-   joins list elements into a single string with a separator of your choice

In [1]:
text = "data science is the sexiest job of the 21st century"
words = text.split()            # split the string into words
print(words)                      # ['data science is the sexiest job of the 21st century']
print(len(words))



# join the words with a space in between
joined_text = ' - '.join(words)          # join the string with a space and hypen in between
print(joined_text)                     # data science is the sexiest job of the 21st century

['data', 'science', 'is', 'the', 'sexiest', 'job', 'of', 'the', '21st', 'century']
10
data - science - is - the - sexiest - job - of - the - 21st - century

#### Replace:- Replace part of a string with something else
##### syntax:-  string.replace(old, new[, count])
- old: What you want to replace
- new: What you want to replace it with
- count (optional): How many times to replace (default = all)

In [18]:
text = "My name is Rishabh Joshi"
print(text.replace("Rishabh", "Rishi"))        # replace the string with another string

My name is Rishi Joshi

##### Strip:- Removes unwanted spaces or characters
##### syntax :- string.strip([chars])
- By default, it removes leading & trailing spaces (left + right side)
- You can also pass specific characters to remove (optional)

In [25]:
# magic of strip
text = "           rishi                           "
print(text)
print(text.strip())               # remove the leading and trailing spaces


print(text.lstrip())              # remove the leading spaces from left 
print(text.rstrip())              # remove the trailing spaces from right


text1 = "!!!!!!!!!!!!!!!!!!!!rishi!!!!!!!!!!!!"
print(text1.strip('!'))             # remove the leading and trailing special characters
print(text1.lstrip('!'))            # remove the leading special characters from left
print(text1.rstrip('!'))            # remove the trailing special characters from right

           rishi
rishi
rishi
           rishi
rishi
rishi!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!rishi

## Example Programs

In [ ]:
# Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

enter the stringnitish
length of string is 6

In [ ]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh
# the logic  is here :-
s = input('enter the email')

pos = s.index('@')
print(s[0:pos])

enter the emailsupport@campusx.in
support

In [ ]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('enter the email')
term = input('what would like to search for')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('frequency',counter)

enter the emailhi how are you
what would like to search foro
frequency 2

In [1]:
# Write a program which can remove a particular character from a string.
s = input('enter the string ')
term = input('what would like to remove')

result = ''

for i in s:
  if i != term:
    result = result + i

print(result)

rshu

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

enter the stringpython
Not a Palindrome

In [ ]:
# Write a program to count the number of words in a string without split()

s = input('enter the string')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

enter the stringhi how are you
['hi', 'how', 'are', 'you']

In [ ]:
# Write a python program to convert a string to title case without using the title()
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

enter the stringhi my namE iS NitiSh
Hi My Name Is Nitish

In [ ]:
# Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))

enter the number345
345
<class 'str'>